body {
    background-color: #9EB7E5;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
  }
  
  
  .chat-container {
    background-color: #40F99B;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 600px;
    margin-top: 40px;
    overflow: hidden;
  }
  
  .show_message {
    background-color: #F8C0C8;
    border-radius: 0 0 10px 10px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 20px;
    height: 70%;
    overflow-y: scroll;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  }
  
  /* Hide the scrollbar for webkit browsers */
  .show_message::-webkit-scrollbar {
    width: 0;
    background-color: transparent; /* Optional: just make scrollbar invisible */
  }
  
  .message-right {
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: 20px;
    background-color: #F0386B;
    color: black;
    padding: 10px 20px;
    border-radius: 20px;
    max-width: 70%;
  }
  
  .message-left {
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: 20px;
    background-color: #FF5376;
    color: black;
    padding: 10px 20px;
    border-radius: 20px;
    max-width: 70%;
  }
  
  #chat-form {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5px;
    padding: 20px;
  
  }
  
  #msg {
    width: 80%;
    height: 40px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    font-size: 16px;
    outline: none;
    margin-right: 10px;
  }
  
  .btn {
    margin-top: 10px;
    background-color: #6CC551;
    color: rgb(0, 0, 0);
    height: 40px;
    width: 80px;
    border-radius: 20px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }
  
  .btn:hover {
    background-color: #447604;
    color: white;
  }
  
  .meta {
    font-weight: bold;
    font-size: 14px;
    margin-top: 5px;
  }
  